@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import './core/assets/themes/green.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.scrollable::-webkit-scrollbar {
		display: unset;
	}
	.scrollable {
		-ms-overflow-style: unset;
		scrollbar-width: unset;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		font-family: 'Inter', sans-serif;
		@apply bg-background text-foreground text-sm;
	}

	:root {
		--vis-tooltip-background-color: none !important;
		--vis-tooltip-border-color: none !important;
		--vis-tooltip-text-color: none !important;
		--vis-tooltip-shadow-color: none !important;
		--vis-tooltip-backdrop-filter: none !important;
		--vis-tooltip-padding: none !important;

		--vis-primary-color: var(--primary);
		--vis-secondary-color: var(--secondary);
		--vis-text-color: var(--muted-foreground);
	}
}

.ripple {
	position: absolute;
	transform: scale(0);
	animation: ripple 400ms linear;
	background-color: rgba(255, 255, 255, 0.1);
}

@keyframes ripple {
	to {
		transform: scale(4);
		opacity: 0;
	}
}
